*~
model.log
*.csv
__pycache__
.python-version
.idea/
analysis/*
!*.do
!*.ado
!*.hlp
!*.py
!*.sthlp
venv/
.cache
*.exe
output/*
.dta
analysis/tempdata/
analysis/output/
!*03b_an_descriptive_table_1_kids_cat3
!*04b_an_descriptive_table_1_covid_tpp_prob.txt
!*04b_an_descriptive_table_1_covid_death_itu.txt
!*04b_an_descriptive_table_1_covid_tpp_prob_or_susp.txt
!*an_tablecontents_HRtable_covid_tpp_prob.txt
!*an_tablecontents_HRtable_covid_tpp_prob_12mo.txt
!*an_tablecontents_HRtable_covid_tpp_prob_or_susp.txt
!*an_tablecontents_HRtable_covid_death_itu.txt
!*an_tablecontents_HRtable_covid_death_itu_12mo.txt
!*an_int_tab_contents_HRtable_covid_tpp_prob.txt
!*an_int_tab_contents_HRtable_covid_death_itu.txt
!*an_tablecontents_HRtable_covid_tpp_prob_SENSE_CCETH.txt
!*an_tablecontents_HRtable_covid_death_itu_SENSE_CCETH.txt
!*an_tablecontents_HRtable_covid_tpp_prob_SENSE_CCETH_BMI_SMOK.txt
!*an_tablecontents_HRtable_covid_death_itu_SENSE_CCETH_BMI_SMOK.txt
!*an_agesplinevisualisation_covid_death_itu.svg
!*an_agesplinevisualisation_covid_tpp_prob_or_susp.svg
!*an_agesplinevisualisation_covid_tpp_prob.svg
!*an_tablecontent_HRtable_HRforest_int_covid_death_itu.svg
!*an_tablecontent_HRtable_HRforest_int_covid_tpp_prob.svg
!*km_age_sex_covid_death_itu.svg
!*km_age_sex_covid_tpp_prob.svg
!*km_age_sex_covid_tpp_prob_or_susp.svg
analysis/log/
!*an_multivariable_cox_models_covid_death_itu.txt
!*an_multivariable_cox_models_covid_tpp_prob.txt
!*an_multivariable_cox_models_covid_tpp_prob_or_susp.txt
!.03_an_descriptive_tables
!*an_univariable_cox_models_covid_death_itu_kids_cat3TOgp_number_kids.txt
!*an_univariable_cox_models_covid_tpp_prob_kids_cat3TOgp_number_kids.txt
!*an_univariable_cox_models_covid_tpp_prob_or_susp_kids_cat3TOgp_number_kids.txt
!*an_interaction_cox_models_covid_death_itu.txt
!*an_interaction_cox_models_covid_tpp_prob.txt
